.cartPage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: #62CAEE;
    font-size: 15px;
    overflow: hidden;
}

.summary-cont {
    display: flex;
    width: 80%;
    height: 80%;    
    flex-direction: column;
    border: 5px solid #62CAEE;
    border-radius: 25px;
    overflow: hidden;
}

.prods {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 10px;
    padding-left: 10px;
}

.prods::-webkit-scrollbar {
    width: 1vw;
}

.prods::-webkit-scrollbar-thumb {
    background-color: #62CAEE;
    border: 0.3vw solid #020A29;
    border-radius: 20px;
}

.prods::-webkit-scrollbar-track {
    background-color: transparent;
}

.tools-panel {
    display: flex;
    width: 100%;
    height: 10%;
    border-bottom: 5px solid #62CAEE;
}

.order {
    display: flex;
    height: 100%;
    width: 100%;
}

.cart-ls {
    display: flex;
    width: 50%;
    height: 100%;
    border-right: 2.5px #62CAEE solid;
    font-size: 20px;
    flex-direction: column;
}

.items {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;    
    text-align: center;
}

.items.empty {
    visibility: hidden;
    width: 0%;
    height: 0%;
}

.prices {
    display: flex;
    flex-direction: column;    
    width: 40%;
    height: 100%;
    text-align: center;
}

.prices.empty {
    visibility: hidden;
    width: 0%;
    height: 0%;
}

.isEmpty {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notEmpty {
    width: 0%;
    height: 0%;
    visibility: hidden;
}

.cart-rs {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    border-left: 2.5px #62CAEE solid;
}

.summary {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    padding-left: 2.5%;
}

.proceed {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    top: 20%;
    position: relative;
}

.dcode {
    width: 90%;
    height: 30px;
    font-size: 20px;
    color: #62CAEE;
    border-radius: 20px;
    border: 5px solid #62CAEE;
    outline: none;
    padding: 10px;
    background-color: #020A29;
}

.dcode::placeholder {
    color: #62CAEE;
}

.btn-cont {
    width: 100%;
    text-align: center;
}

.proceed-btn {
    color: #62CAEE;
    border: 5px solid #62CAEE;
    padding: 10px;
    background-color: #020A29;
    width: 90%;
    font-size: 20px;
    border-radius: 20px;
}

.proceed-btn:hover {
    background-color: #62CAEE;
    color: #020A29;
    filter: drop-shadow(0px 0px 0px #62CAEE)
    drop-shadow(0px 0px 0px #62CAEE)
    drop-shadow(0px 0px 0px #62CAEE)
    drop-shadow(0px 0px 5px #62CAEE)
    drop-shadow(0px 0px 20px #62CAEE);
}

.quantity:hover {
    filter: drop-shadow(0px 0px 0px #62CAEE)
    drop-shadow(0px 0px 0px #62CAEE)
    drop-shadow(0px 0px 1px #62CAEE)
    drop-shadow(0px 0px 10px #62CAEE)
    drop-shadow(0px 0px 20px #62CAEE);
}