.cartPage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    font-family: 'Mars';
    color: #62CAEE;
    font-size: 15px;
    overflow: hidden;
}

.summary-cont {
    display: flex;
    width: 80%;
    height: 80%;    
    flex-direction: column;
    border: 5px solid #62CAEE;
    border-radius: 25px;
}

.tools-panel {
    display: flex;
    width: 100%;
    height: 10%;
    border-bottom: 5px solid #62CAEE;
}

.order {
    display: flex;
    height: 90%;
    width: 100%;
}

.cart-ls {
    display: flex;
    width: 50%;
    height: 100%;
    border-right: 2.5px #62CAEE solid;
}

.items {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;    text-align: center;
}

@font-face {
    font-family: "Pirulen";
    src: local("Pirulen"),
        url("../../assets/Pirulen.otf ") format("truetype");
}

.prices {
    display: flex;
    flex-direction: column;    
    width: 50%;
    height: 100%;
    text-align: center;
    font-family: 'Pirulen';
}

.cart-rs {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    border-left: 2.5px #62CAEE solid;
}

.summary {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    padding-left: 2.5%;
}

.proceed {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    top: 20%;
    position: relative;
}

.dcode {
    width: 90%;
    height: 30px;
    font-size: 20px;
    color: #62CAEE;
    border-radius: 20px;
    border: 5px solid #62CAEE;
    outline: none;
    padding: 10px;
    font-family: 'Mars';
    background-color: #020A29;
}

.dcode::placeholder {
    color: #62CAEE;
}

.btn-cont {
    width: 100%;
    text-align: center;
}

.proceed-btn {
    color: #62CAEE;
    border: 5px solid #62CAEE;
    padding: 10px;
    background-color: #020A29;
    width: 90%;
    font-size: 20px;
    border-radius: 20px;
    font-family: 'Mars';
}

.proceed-btn:hover {
    background-color: #62CAEE;
    color: #020A29;
    filter: drop-shadow(0px 0px 0px #62CAEE)
    drop-shadow(0px 0px 0px #62CAEE)
    drop-shadow(0px 0px 0px #62CAEE)
    drop-shadow(0px 0px 5px #62CAEE)
    drop-shadow(0px 0px 20px #62CAEE);
}