* {
    user-select: none;
}

body {
    overflow-y: hidden;
}

.toolbar {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    animation: closeRotation 0.2s linear;
}

.toolbar-load {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
}

.toolbar-active {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    animation: openRotation 0.2s linear;
}

@keyframes openRotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

@keyframes closeRotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-90deg);
    }
}

.tools {
    position: absolute;
    display: flex;
    top: 0px;
    left: -500%;
    width: 100%;
    height: 100%;
    animation:  toolbarOut 0.2s linear;
}

.tools-active {
    position: absolute;
    display: flex;
    top: 0px;
    left: 100px;
    width: 100%;
    height: 100%;
    animation: toolbarIn 0.2s linear;
}

.help-tool {
    width: 50px;
    height: 50px;
    margin-left: 3%;
}

.help-tool:hover {
    filter: drop-shadow(0px 0px 0px #62CAEE)
        drop-shadow(0px 0px 0px #62CAEE)
        drop-shadow(0px 0px 0px #62CAEE)
        drop-shadow(0px 0px 5px #62CAEE)
        drop-shadow(0px 0px 90px #62CAEE);
}

.camlock-tool {
    width: 60px;
    height: 60px;
}

.camlock-tool:hover {
    filter: drop-shadow(0px 0px 0px #62CAEE)
        drop-shadow(0px 0px 0px #62CAEE)
        drop-shadow(0px 0px 0px #62CAEE)
        drop-shadow(0px 0px 5px #62CAEE)
        drop-shadow(0px 0px 90px #62CAEE);
}

.save-tool {
    width: 50px;
    height: 50px;
    margin-left: 3%;
}

.save-tool:hover {
    filter: drop-shadow(0px 0px 0px #62CAEE)
        drop-shadow(0px 0px 0px #62CAEE)
        drop-shadow(0px 0px 0px #62CAEE)
        drop-shadow(0px 0px 5px #62CAEE)
        drop-shadow(0px 0px 90px #62CAEE);
}

@keyframes toolbarIn {
    from {
        left: -50%;
    }
    to {
        left: 100px;
    }
}

@keyframes toolbarOut {
    from {
        left: 100px;
    }
    to {
        left: -50%;
    }
}

.sel-cont {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 70px;
    text-align: center;
    color: #62CAEE;
    z-index: 1;
}

.sel-text {
    font-family: 'Mars';
}

.help-cont1 {
    z-index: 11;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    clip-path: url('#highlight-path');
    opacity: 1;
    transition: all 1s;
}

.help-cont2 {
    z-index: 11;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.invisible {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
}

.exit-help {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: all 1s;
}

.tools-cont:hover {
    filter: drop-shadow(0px 0px 0px #62CAEE)
        drop-shadow(0px 0px 0px #62CAEE)
        drop-shadow(0px 0px 0px #62CAEE)
        drop-shadow(0px 0px 5px #62CAEE)
        drop-shadow(0px 0px 90px #62CAEE);
}

.help-arrow {
    filter: drop-shadow(0px 0px 0px #62CAEE)
        drop-shadow(0px 0px 0px #62CAEE)
        drop-shadow(0px 0px 0px #62CAEE)
        drop-shadow(0px 0px 5px #62CAEE)
        drop-shadow(0px 0px 90px #62CAEE);
}

.next-arrow {
    filter: drop-shadow(0px 0px 0px #62CAEE)
        drop-shadow(0px 0px 0px #62CAEE)
        drop-shadow(0px 0px 0px #62CAEE)
        drop-shadow(0px 0px 5px #62CAEE)
        drop-shadow(0px 0px 90px #62CAEE);
    fill: #62CAEE;
}

.next-arrow:hover {
    filter: drop-shadow(0px 0px 0px #62CAEE)
        drop-shadow(0px 0px 0px #62CAEE)
        drop-shadow(0px 0px 0px #62CAEE)
        drop-shadow(0px 0px 5px #62CAEE)
        drop-shadow(0px 0px 20px #62CAEE);
}

.slide-comp {
    position: relative;
    width: 200px;
    opacity: 1;
    transition: opacity 1s;
    color: #62CAEE;
    font-family: 'Mars';
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.key-img {
    width: 200px;
    height: 200px;
    filter: drop-shadow(0px 0px 0px #62CAEE)
        drop-shadow(0px 0px 0px #62CAEE)
        drop-shadow(0px 0px 0px #62CAEE)
        drop-shadow(0px 0px 5px #62CAEE)
        drop-shadow(0px 0px 90px #62CAEE);
        font-family: 'Mars';
}

.slide-comp-inactive {
    opacity: 0;
}

.help-txt {
    font-size: 2rem;
    filter: drop-shadow(0px 0px 0px #62CAEE)
        drop-shadow(0px 0px 0px #62CAEE)
        drop-shadow(0px 0px 0px #62CAEE)
        drop-shadow(0px 0px 5px #62CAEE)
        drop-shadow(0px 0px 90px #62CAEE);
        font-family: 'Mars';
}

.slide1-txt {
    position: absolute;
    top: 270px;
    left: 300px;
    max-width: 500px;
    color: #62CAEE;
    filter: drop-shadow(0px 0px 0px #62CAEE)
        drop-shadow(0px 0px 0px #62CAEE)
        drop-shadow(0px 0px 0px #62CAEE)
        drop-shadow(0px 0px 5px #62CAEE)
        drop-shadow(0px 0px 90px #62CAEE);
        font-family: 'Mars';
}