body {
    margin: 0px;
    background: radial-gradient(farthest-corner at right center, #020A29 30%, #000);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

